@page "/fragments/compliance-tile"
@model FieldMark.Web.Pages.Fragments.ComplianceTileModel
<div id="compliance-tile">
    <span>Compliance tile fragment will be added in a future story.</span>
</div>
